<nav>
  <ul>
    <li><%= link_to "View Movies", movies_path %></li>
    <li><%= link_to "Create Movie", new_movie_path %></li>
    <li><%= link_to 'View Characters', characters_path %></li>
  </ul>
</nav>